.btn {
    border: none;
    background-color: #FF7724;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    padding: 10px 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

}

.rectangle {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    top: 347px;
    left: 284px;
    border-radius: 12px;
    margin-bottom: 40px;

    .image-box {
        padding: 10px;

        .number-box {
            h3 {
                font-family: Inter;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                text-align: center;
                color: #626E79;
                margin-top: 20px;
                background-color: #ffffff;
                border: 0.1px solid #ffff;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
        }

        .build {
            text-align: center;
            color: #626E79;
            font-family: Inter;
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
        }
    }

    .topic {
        flex-grow: 1;
        padding: 10px;
        width: 650px;
        margin-top: 30px;

        .headtext {
            // h1{
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #4B5665;


            // }
        }

        .topicHead {
            margin-bottom: revert;
            width: 490px;


        }

        h4 {
            font-family: Inter;
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #2C384A;
            // margin-bottom: revert;

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                margin: 0;
                color: #4B5665;
                // margin-bottom: revert;
            }
        }

        .showbtn {
            background-color: transparent;
            border: none;
            color: #1B88F4;
            cursor: pointer;
            display: flex;
            align-items: center;
            margin-top: 30px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;

        }

        ul {
            background: #FFF4ED;
            list-style: none;
            width: 505px;
            height: 150px;

            li {
                margin: 10px;

                .row-container {
                    display: flex;
                    align-items: center;
                    margin-right: 10px;

                    .point-text {
                        color: #4B5665;
                        font-family: Inter;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 24px;
                        margin-top: 10px;
                    }
                }

                button {
                    width: 40px;
                    height: 28px;
                    border: none;
                    margin-right: 10px;
                    margin-top: 10px;
                    background-color: #FFFFFF;
                    color: #1B88F4;
                    font-family: Inter;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
        }

        .doumentPara {
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            color: #2C384A;
            margin-top: 20px;
        }

        .document-item {
            display: flex;
            align-items: center;
            margin: 10px;

            .row-container {
                display: flex;
                align-items: center;
                margin-right: 10px;

                .document-text {
                    color: #4B5665;
                    font-family: Inter;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    margin-left: 10px;
                }
            }
        }
    }


    .rating {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 15px;

        .ratingicon {
            background: #F3F9FF;
            background: #F3F9FF;
            border-bottom-right-radius: 12px;
            border-bottom-left-radius: 12px;
        }

        p {
            font-family: Inter;
            font-size: 32px;
            font-weight: 400;
            text-align: center;
            color: #074786;
            background: #F3F9FF;
        }

        .review {
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: center;
            flex-direction: column;
            display: flex;
        }


        .viewbtn {
            width: 232px;
            height: 48px;
            border-radius: 12px;
            background: #1B88F4;
            border: none;
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: center;
            color: #FFFFFF;
            // margin-top: 100px;
            // margin-left: -90px;


        }
    }

    &.fourth-rectangle {
        height: 500px;
    }

}

