*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.App{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FBFCFD;
}

@media screen and (max-width: 1300px) {
  .App {
     /* Align to the top when width is less than 1300px */
  }
}